<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ElearningEntities" connectionString="metadata=res://*/Model.Data.csdl|res://*/Model.Data.ssdl|res://*/Model.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;persist security info=True;user id=sa;password=tolulope890@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StaffContext" connectionString="metadata=res://*/Model.StaffModel.StaffModel.csdl|res://*/Model.StaffModel.StaffModel.ssdl|res://*/Model.StaffModel.StaffModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;user id=sa;password=tolulope890@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentElearningEntities" connectionString="metadata=res://*/Model.StudentModel.StudentDB.csdl|res://*/Model.StudentModel.StudentDB.ssdl|res://*/Model.StudentModel.StudentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;user id=sa;password=tolulope890@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ElearningAdminEntities" connectionString="metadata=res://*/Model.Administration.Admin.csdl|res://*/Model.Administration.Admin.ssdl|res://*/Model.Administration.Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;user id=sa;password=tolulope890@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PayEntities" connectionString="metadata=res://*/Model.PaymentConfig.Pay.csdl|res://*/Model.PaymentConfig.Pay.ssdl|res://*/Model.PaymentConfig.Pay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;persist security info=True;user id=sa;password=tolulope890@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ElearningPayEntities" connectionString="metadata=res://*/Model.Payment.Pay.csdl|res://*/Model.Payment.Pay.ssdl|res://*/Model.Payment.Pay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elearning;user id=sa;password=tolulope890@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>